<div class="row">
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
        <mat-card-title>Responsive</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident explicabo necessitatibus animi? Aperiam,
          at earum?</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-tablet-alt accent-color fa-2x"></i>
        <mat-card-title>Web</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident explicabo necessitatibus animi? Aperiam,
          at earum?</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
        <mat-card-title>Design</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident explicabo necessitatibus animi? Aperiam,
          at earum?</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <h3>About me</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis architecto dolore et. Temporibus error reiciendis
      facilis minima enim, quaerat similique! Ab minima labore facilis sint ipsum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eum asperiores sint esse.</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="mb-3">
      <strong>HTML5 & CSS3</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>BOOTSTRAP</strong>
      <span class="float-right">80%</span>
      <mat-progress-bar value="80" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>UX Design</strong>
      <span class="float-right">70%</span>
      <mat-progress-bar value="70" color="warn"></mat-progress-bar>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular Development</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, alias illo aut tenetur expedita vel facere,
      doloremque aliquam facilis voluptas adipisci corrupti debitis, dolorum quidem officiis?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a earum
      dolorem odio fugiat minima iste.</p>
    <button [routerLink]="['/portfolio']" [queryParams]="{filter:'Angular'}" mat-stroked-button>View More</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 col-md-9 text-right">
    <h2>React Development <i class="fab fa-react react-color d-md-none"></i> </h2>
    <p>Veritatis hic iusto aperiam vel vitae quia ipsa cum porro assumenda veniam commodi sit, consequatur autem quos
      nesciunt, quasi omnis iure eligendi suscipit repellendus! Odio, voluptas?</p>
    <p>Pariatur, optio. Aut iusto architecto accusantium repellat perspiciatis quidem, unde laudantium blanditiis iure
      omnis. Deserunt tempore possimus minus accusantium, ad eos!</p>
    <button [routerLink]="['/portfolio']" [queryParams]="{filter:'React'}" mat-stroked-button>View More</button>
  </div>
  <div class="col-3 text-center">
    <i class="fab fa-react fa-10x react-color d-none d-md-block"></i>
  </div>
</div>
<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Vue Development</h2>
    <p>Inventore suscipit ut error labore nemo! Expedita architecto, consequatur voluptas eius exercitationem mollitia
      labore officia totam enim, quo fugiat dicta magnam voluptate pariatur dolores! Deserunt, ullam!</p>
    <p>Magni, est. Alias asperiores, quasi, animi, iure corrupti consectetur modi fugit minima totam porro tenetur
      excepturi. Delectus rerum accusamus impedit voluptate?</p>
    <button  [routerLink]="['/portfolio']" [queryParams]="{filter:'Vue'}" mat-stroked-button>View More</button>
  </div>
</div>

<div class="portfolio-preview">
  <div class="row no-gutters">
    <div class="col-12">
      <h2>Recent Apps</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quia reiciendis molestiae sequi aliquam ex
        officiis vero illum, eaque quos numquam?</p>
    </div>
  </div>
  <div class="row no-gutters">
    <div *ngFor="let item of recentProjects;index as i"
         [ngClass]="{'col-12 col-sm-4 col-md-4': i < 3, 'col-12 col-sm-6 col-md-3': i >= 3 }">
      <img class="img-fluid" [src]="item.preview + '?text=' + item.name" [alt]="item.name">
    </div>

    <div class="col-12 mt-3">
      <button [routerLink]="['/portfolio']" mat-stroked-button>View More</button>
    </div>
  </div>
</div>
